<!DOCTYPE html>
<html>
    <head>
    <style>
        body {
            padding: 20px;
        }
        .green {
            color: #4F774F;
        }
    </style>
    </head>

    <body>
        <div>
            <h1>Star Fleet <span class="green">Status</span></h1>
        </div>
        <table>
            <tr>
                <td>Number of Logs</td>
                <td>{{ number_of_logs }}</td>
            </tr>
            <tr>
                <td>Number of Ships</td>
                <td>{{ number_of_ }}</td>
            </tr>
        </table>
    </body>
</html>
